@-webkit-keyframes _idGenKeyFrames-0 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { -webkit-transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-1 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { -webkit-transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-1 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-2 {
0% { -webkit-transform:translate(-1px,-233px) ; }
100% { -webkit-transform:translate(0px,0px) ; }
} 
@keyframes _idGenKeyFrames-2 {
0% { transform:translate(-1px,-233px) ; }
100% { transform:translate(0px,0px) ; }
} 
@font-face {
	font-family:"Bodoni 72";
	font-style:italic;
	font-weight:normal;
	src : url("../../font/BodoniSvtyTwoITCTT-BookIta.ttc");
}
@font-face {
	font-family:"Bodoni 72";
	font-style:oblique;
	font-weight:normal;
	src : url("../../font/BodoniSvtyTwoITCTT-BookIta.ttc");
}
@font-face {
	font-family:"Helvetica Neue";
	font-style:normal;
	font-weight:bold;
	src : url("../../font/HelveticaNeue-Bold.ttc");
}
@font-face {
	font-family:"IvyPresto Display SemiBold";
	font-style:italic;
	font-weight:600;
	src : url("../../font/IvyPrestoDisplay-SemiBoldItalic.otf");
}
@font-face {
	font-family:"IvyPresto Display SemiBold";
	font-style:oblique;
	font-weight:600;
	src : url("../../font/IvyPrestoDisplay-SemiBoldItalic.otf");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
@font-face {
	font-family:"Snell Roundhand";
	font-style:normal;
	font-weight:900;
	src : url("../../font/SnellRoundhand-Black.ttc");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#bb141f;
	font-family:"IvyPresto Display SemiBold", serif;
	font-size:83px;
	font-style:italic;
	font-weight:600;
}
span.CharOverride-2 {
	color:#bb141f;
	font-family:"Helvetica Neue", sans-serif;
	font-size:83px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	color:#bb141f;
	font-family:"IvyPresto Display SemiBold", serif;
	font-size:80px;
	font-style:italic;
	font-weight:600;
}
span.CharOverride-4 {
	color:#050505;
	font-family:"Bodoni 72", serif;
	font-size:24px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Snell Roundhand", sans-serif;
	font-size:60px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Snell Roundhand", sans-serif;
	font-size:48px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Snell Roundhand", sans-serif;
	font-size:72px;
	font-style:normal;
	font-weight:900;
}
#_idContainer000 {
	-ms-transform:translate(0.500px,546.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,546.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,546.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,546.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1402.00px;
}
#_idContainer001 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:546.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1403.00px;
}
#_idContainer002 {
	-ms-transform:translate(0.499px,464.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.499px,464.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:200.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.499px,464.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.499px,464.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1402.50px;
}
#_idContainer003 {
	-ms-transform:translate(0.500px,676.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,676.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2096.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,676.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,676.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1402.50px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1300.00px;
}
#_idContainer005 {
	-ms-transform:translate(106.000px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(106.000px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:130.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(106.000px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(106.000px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:485.00px;
}
#_idContainer006 {
	-webkit-perspective:1px;
	height:169px;
	left:120px;
	position:absolute;
	top:20px;
	width:616px;
}
#_idContainer007 {
	-webkit-perspective:1px;
	height:150px;
	left:122px;
	position:absolute;
	top:26px;
	width:182px;
}
#_idContainer008 {
	height:207px;
	left:0px;
	position:absolute;
	top:0px;
	width:1300px;
}
#_idContainer009 {
	-ms-transform:translate(948.500px,12.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(948.500px,12.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:216.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(948.500px,12.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(948.500px,12.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:375.50px;
}
#_idContainer010 {
	-ms-transform:translate(45.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(45.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:228.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(45.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(45.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1324.00px;
}
#_idContainer011 {
	-ms-transform:translate(-0.500px,402.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.500px,402.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:144.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.500px,402.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.500px,402.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1403.00px;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,381.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,381.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:144.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,381.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,381.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1403.00px;
}
#_idContainer013 {
	-ms-transform:translate(839.000px,728.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(839.000px,728.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:671.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(839.000px,728.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(839.000px,728.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:541.00px;
}
#_idContainer014 {
	-ms-transform:translate(17.500px,729.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.500px,729.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:820.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.500px,729.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.500px,729.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:699.00px;
}
#_idContainer015 {
	-ms-transform:translate(315.500px,381.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(315.500px,381.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,381.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(315.500px,381.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:702.00px;
}
#_idContainer016 {
	-ms-transform:translate(757.500px,453.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(757.500px,453.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(757.500px,453.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(757.500px,453.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.00px;
}
#_idContainer017 {
	-ms-transform:translate(896.000px,820.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(896.000px,820.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:144.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(896.000px,820.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(896.000px,820.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:417.00px;
}
#_idContainer018 {
	-ms-transform:translate(36.000px,1253.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,1253.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,1253.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,1253.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:417.00px;
}
#_idContainer019 {
	-ms-transform:translate(50.500px,729.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(50.500px,729.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:548.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.500px,729.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(50.500px,729.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:530.00px;
}
#_idContainer020 {
	-ms-transform:translate(929.500px,800.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(929.500px,800.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:180.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(929.500px,800.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(929.500px,800.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:406.25px;
}
#_idContainer021 {
	-ms-transform:translate(50.500px,1246.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(50.500px,1246.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:187.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.500px,1246.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(50.500px,1246.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:406.25px;
}
#_idContainer022 {
	-ms-transform:translate(616.000px,171.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(616.000px,171.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(616.000px,171.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(616.000px,171.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.00px;
}
#_idContainer023 {
	-ms-transform:translate(936.627px,172.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(936.627px,172.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(936.627px,172.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(936.627px,172.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.00px;
}
#_idContainer024 {
	-ms-transform:translate(776.313px,171.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(776.313px,171.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(776.313px,171.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(776.313px,171.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.00px;
}
#_idContainer025 {
	-ms-transform:translate(1096.940px,172.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1096.940px,172.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1096.940px,172.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1096.940px,172.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-2 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-1;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-1;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-3 {
	-webkit-animation-delay:1.000s;
	-webkit-animation-duration:0.125s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-2;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:1.000s;
	animation-duration:0.125s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-2;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	-webkit-transform:translate(-1px,-233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,-233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-2 {
	-webkit-transform:translate(-1px,-233px) ;
	-webkit-transform-origin:50% 50%;
	transform:translate(-1px,-233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-1 {
	-webkit-transform:translate(0px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:1;
	transform:translate(0px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-2 {
	-webkit-transform:translate(0px,0px) ;
	-webkit-transform-origin:50% 50%;
	transform:translate(0px,0px) ;
	transform-origin:50% 50%;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
